{% extends 'base.html.twig' %}

{% block title %}Me Contacter{% endblock %}

{% block body %}
    <h1>Me contacter</h1>

    {{ include('pages/contact/_form.html.twig') }}

    <a class="btn btn-secondary btn-lg mt-4" href="{{ path('home.index') }}">Accueil</a>
{% endblock %}
